{% extends "base.html" %} {% block content %}

<section class="section-1">
    <div class="row">
        <div class="col-10 d-flex justify-content-end">
            <h1 style="color: aliceblue; font-size: 5vw; padding-right: 20px;">Warwickshire Hockey U13</h1>
        </div>
        <div class="col-md-2 d-flex justify-content-end" style="padding-top: 50px;">
            <button class="button-style">Login</button>
            <button class="button-style">Sign Up</button>
        </div>
    </div>
</section>
<section class="section-2">
    <div class="row">
        <nav class="col-2 navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="main-sect-font" id="menu-cross">Menu</span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ url_for ('index') }}">
                        <h4 class="main-sect-font2">Home</h4> <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">
                        <h4 class="main-sect-font2">Upcoming Events</h4>
                    </a>
                    <a class="nav-item nav-link" href="#" id="userInfo">
                        <h4 class="main-sect-font2">Results</h4>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-12 d-flex justify-content-center">
            <h1>Sign Up/ Login</h1>
        </div>
    </div>
    <div id="formContainer">
        <div class="row">
            <div class="col-12 form-sign-in d-flex justify-content-center">
                <input type="email" placeholder="email" id="email">
                <input type="password" placeholder="password" id="password">
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-sign-in d-flex justify-content-center">
                <button onclick="signUp();" id="signUp" class="sign-in">Sign Up</button>
                <button onclick="signIn();" id="signIn" class="sign-in">Sign In</button>
            </div>
        </div>
        <div class="sign-out-hide" id="loggedIn"></div>
        <button onclick="signOut();" id="signOut" class="sign-out sign-out-hide">Sign Out</button>
    </div>
</section>

{% endblock %}